@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form id="registerForm" method="post">
            <h2 class="text-center">Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Username">Username</label>
                <input asp-for="@Model.Username" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="@Model.Username" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Email">Email</label>
                <input asp-for="@Model.Email" class="form-control" autocomplete="email" aria-required="true" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Password">Password</label>
                <input asp-for="@Model.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.FirstName">First Name</label>
                <input asp-for="@Model.FirstName" class="form-control" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.LastName">Last Name</label>
                <input asp-for="@Model.LastName" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
